.hero-section{
    padding: 10px 0;
    .hero-inner{
        max-width: 100%;
        margin: 0 auto;
    }
    .hero-slider{
        overflow: hidden;
        position: relative;
        padding: 0 5px;
        .hero-image{
            padding: 0 5px;
            transition: all 200ms linear;
            opacity: 1;
            img{
                max-width: 100%;
                height: auto;
                border-radius: 30px;
                transition: all 500ms linear;
               
            }
           &:not(.slick-active){
            opacity: 0.5;
           } 
           @media screen and (max-width:980px) {
                min-height: 300px;
                overflow: hidden;
                border-radius: 30px;
                padding: 0;
                position: relative;
                img{
                    max-width: unset;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
           }
           @media screen and (max-width:480px) {
                min-height: 150px;
                overflow: hidden;
                border-radius: 20px;
                padding: 0;
                position: relative;
                img{
                    max-width: unset;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
        }
        }
        .slick-prev, .slick-next{
            z-index: 9;
        }
        .slick-prev{
            left: 0px !important;
        }
        .slick-next{
            right: 0px !important;
        }
        .slick-dots{
            button{
                &:before{
                    opacity: 1;
                    font-size: 40px;
                    color: #fff;
                }
            }
            li.slick-active{
                button{
                    &:before{
                        opacity: 1;
                        color: var(--yellow)
                    }
                }
            }
        }
       
    }
}