
.promotion-section{
    background-image: url(../images/promotion-bg.png);
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center bottom;
    .promo-banners{
        max-width: 1200px;
        width: 100%;
        margin: 30px auto 0px;
       overflow: hidden;
        padding-bottom: 50px;

        .slick-slide{
            img{
                max-width: 100%;
                height: auto;
                border-radius: 20px;
            }
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 50px;
            line-height: 50px;
            margin-top: -25px;
            border: none;
            background: transparent;
            color: #fff;
            font-family: monospace;
            font-size: 5rem;
            z-index: 300;
            outline: none;
        }
        
        .slick-prev {
            left: -50px;
            text-align: left;
        }
        
        .slick-next {
            right: -50px;
            text-align: right;
        }
        
        
        
        .item.slick-slide {
            transition: transform .5s ease;
            position: relative;
        }
        
        .slick-slide:after {
            content:'';
            position: absolute;
            z-index: -2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
           background: rgba(0,0,0,.5);
            transition: transform .4s;
        }
        
        .item.slick-slide {
            transform: scale(0.7)  translate(640px);
            
        }
        
        .item.slick-slide.slick-center + .slick-slide {
            transform: scale(0.8) translate(-250px);
            z-index: 10;
        }
        
        .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
            transform: scale(0.7)  translate(-640px);
            z-index: 5;
        }
        
        .item.slick-slide.slick-active {
            transform: scale(0.8) translate(250px);
        }
        
        .item.slick-slide.slick-center {
            /* margin: 0 -10%; */
            transform: scale(1);
            z-index: 30;
        
        }   
        @media screen and (max-width:1230px) {
            .item.slick-slide {
                transform: scale(0.5)  translate(640px);
                
            }
            
            .item.slick-slide.slick-center + .slick-slide {
                transform: scale(0.6) translate(-800px);
                z-index: 10;
            }
            
            .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
                transform: scale(0.5)  translate(-640px);
                z-index: 5;
            }
            
            .item.slick-slide.slick-active {
                transform: scale(0.6) translate(550px);
            }
            
            .item.slick-slide.slick-center {
                /* margin: 0 -10%; */
                transform: scale(0.8) translate(-130px);
                z-index: 30;
            
            }   
        }
        @media screen and (max-width:1100px) {
            .item.slick-slide {
                transform: scale(0.5)  translate(640px);
                
            }
            
            .item.slick-slide.slick-center + .slick-slide {
                transform: scale(0.6) translate(-1250px);
                z-index: 10;
            }
            
            .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
                transform: scale(0.5)  translate(-640px);
                z-index: 5;
            }
            
            .item.slick-slide.slick-active {
                transform: scale(0.6) translate(600px);
            }
            
            .item.slick-slide.slick-center {
                /* margin: 0 -10%; */
                transform: scale(0.67) translate(-270px);
                z-index: 30;
            
            }   
        }
        @media screen and (max-width:768px) {
            .item.slick-slide {
                transform: scale(1) ;
                
            }
            
            .item.slick-slide.slick-center + .slick-slide {
                transform: scale(1) ;
                z-index: 10;
            }
            
            .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
                transform: scale(1) ;
                z-index: 5;
            }
            
            .item.slick-slide.slick-active {
                transform: scale(1) ;
            }
            
            .item.slick-slide.slick-center {
                /* margin: 0 -10%; */
                transform: scale(1) ;
                z-index: 30;
            
            }   
        }
        
        .slick-center:after {
            opacity: 0;
            margin:10px;
            padding:10px;
        }
        .slick-dots{
            button{
                &:before{
                    opacity: 1;
                    font-size: 40px;
                    color: #fff;
                }
            }
            li.slick-active{
                button{
                    &:before{
                        opacity: 1;
                        color: var(--yellow)
                    }
                }
            }
        }
        
    }
}


.promo-gallery{
    padding-top: 40px;
    .promo-box{
        background-color: #001E86;
        padding: 0px 0;
        border-radius: 20px;
        overflow: hidden;
    }
}

.promo-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    > .promo-box{
        flex: 0 45%;
        .promo-thumb{
            transition: all 200ms linear;
        }
       
        .promo-img{
            text-align: center;
            min-height: 250px;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
        }
        .promo-copy{
            padding: 30px;
            display: flex;
            align-items: center;
            h3{
                flex: 0 70%;
                font-size: 24px; 
                padding-right: 20px;    
                text-align: left;   
            }
            a{
                flex: 0 30%;
                text-align: center;
                line-height: 30px;
            }
        }
        &:hover{
            .promo-thumb{
                transform: scale(1.03);
                cursor: pointer;
            }
        }
    }
    @media  screen  and (max-width: 980px){
        gap: 30px;
        
    }
    @media  screen  and (max-width: 768px){
        gap: 30px;
        .promo-box{
            flex: 0 100%;
        }
        
    }
    @media  screen  and (max-width: 767px){
        gap: 20px 0;
        .promo-box{
            flex: 0 100%;
        }
        
    }
}
